@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
}

html {
  /* span,
  input,
  ul,
  li {
    @apply text-gray-800;
    @apply font-gotham-pro;
  } */

  div,
  img,
  label,
  button,
  span,
  a,
  form,
  svg,
  ol {
    /* display: flex; */
    transition: all 300ms ease-in-out;
  }

  button {
    cursor: pointer;
  }

  .global-transition div {
    display: flex;
    transition: all 300ms ease-in-out;
  }

  span:has(> .react-loading-skeleton) {
    width: 100%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
